
.login img{
    text-align: center;
   }

   body{
background-color: aquamarine;
     
    }
    .enviar {
        background: rgb(247, 43, 131);
        background: linear-gradient(90deg, rgba(238,174,202,1));
        border: none;
        color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    
    .cancelar {
        background: rgb(247, 43, 131);
        background: linear-gradient(90deg, rgba(238,174,202,1));
        border: none;
        color: rgb(0, 0, 0);
        border-radius: 10px;
    }
    
    .t1{

        background-color: antiquewhite;
        border-radius: 10px;
        margin-left: 40%;
        margin-right: 40%;
    }

    input{
        border: 0,5;
        background-color: azure;
    }